/* http://wiquest.wi.hm.edu/Portfolio/Test */

* {
margin: 0;
padding: 0;
}

body {
font-family: Helvetica,Arial,Sans-Serif;
font-size: 11px;
line-height: 1.4;
}

h1 {
font-size: 100%;
margin-top: 0;
}

h1 img {
position: relative;
top: 8px;
left: -4px;
}

main {
display: block;
margin: 0 auto;
width: 100%;
}

.ausdrucken {
margin: 5px 0;
border: 1px dotted #727272;
padding: 5px;
/* border-radius wird ignoriert! */
}

.tip {
font-style: italic;
color: #464646;
margin-bottom: 1em;
}

.mappe {
border: 2px solid #727272;
border-radius: 3px;
width: 4em;
height: 3em;
display: none;
}

.mappe strong {
position: absolute;
left: 10px;
top: 3px;
}

.aufkleber {
background-color: #000;
width: 30%;
height: 1em;
position: absolute;
right: 4px;
bottom: 4px;
}

h3 {
font-size: 100%;
font-weight: normal;
}

h2 {
font-weight: normal;
margin-bottom: 1em;
}

.familienname {
font-weight: bold;
}

.anmeldungsnummer {
border: 3px solid #727272;
text-align: center;
width: 4em;
font-size: 100%;
line-height: 1;
color: #727272;
padding: .6em 0;
border-radius: 8px;
position: absolute;
right: 15px;
top: 120px;
}

.laufendeNummer {
color: #000;
font-weight: bold;
}

.bestaetigung {
border-top: 3px double #727272;
margin-top: 1em;
padding-top: 1em;
}

.unterschrift-zeile {
margin: 3em 0;
}

.unterschrift-zeile span {
border-top: 1px solid #727272;
padding-right: 12em;
padding-top: .3em;
}

.ort_datum {
margin-right: 7.5em;
}

.mappeZurueck .ort_datum {
margin-right: 5em;
}

.mappeZurueck .unterschrift-zeile {
margin: 3em 0 0 0;
}
