/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
}

/* Pix
-------------------------------------------------- */
img {
  max-width: 100%;
  height: auto;
}


/* Links
-------------------------------------------------- */
a {
  color: $TextGrau;
  text-decoration: none;
  border-bottom: 1px solid lighten($TextGrau,25%);
  transition: color .3s;
}

a:visited {
	color: lighten($TextGrau,10%)
}

a:hover {
  border-bottom: 1px solid;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/* Site
-------------------------------------------------- */
html {
  height: 101%;
  font: $myFont;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: $hgFarbe;
  color: $TextGrau;
}

header {
	// outline: 1px solid #ccc;
	margin: 2rem 0;
	
	
	#logo {
		width: 12rem;
		margin-left: -.4rem;
		float:left;
	}
	
	h1 {
		border-left: 1px solid #ccc;
		margin: 1.65rem 0 0 1rem;
		padding: 2.2rem 0 0 1rem;
		float: left;
	}
}

main {
	width: 80%;
	max-width: 40rem;
	min-width: 19rem;
	margin: 0 auto 2rem auto;
	// outline: 1px solid #ccc;
}

h2 {
	font-size: 150%;
	line-height: 1.2;
	//font-weight: bold;
	margin-bottom: $Abstand;
	color: lighten($TextGrau,20%);
}

form {
	border-top: 1px solid #444;
	padding-top: $Abstand;
	margin: $Abstand 0;
}

h3 {
	font-weight: bold;
}

.anmerkung {
	margin-bottom: $Abstand;
}

input[type="radio"] {
	position: relative;
	top: -2px;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	margin-left: .6rem;
	line-height: 1.55;
}

.studienrichtung,
.adresse,
.schon_mal_geprueft,
.bewerbungsmappe {
	border-bottom: 1px solid #444;
	padding-bottom: $Abstand;
	margin: $Abstand 0;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	border-bottom: 3px solid #fff;
	background-color: rgba(0,0,0,.05);
	width: 100%;
	font-size: 100%;
	padding: .2rem;
	transition: all .3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
	border-bottom: 3px solid #444;
	background-color: transparent;
}

input[type="text"] + label,
input[type="email"] + label,
input[type="tel"] + label {
	display: block;
	margin-bottom: $Abstand/2;
	margin-left: .3em;
	font-size: 70%;
	font-style: italic;
	color: red;
	opacity: 0;
	transition: all .3s;
}

input[type="text"]:focus + label,
input[type="email"]:focus + label,
input[type="tel"]:focus + label {
	opacity: 1;
}

// Straße und Haus-Nummer nebeneinander stehen
.strassenkombi {
	display: flex;
	
	div:nth-of-type(1){
		flex-basis: 66%;
	}
	
	div:nth-of-type(2){
		flex-basis: 33%;
		margin-left: .3rem;
	}
}

// PLZ und Stadt nebeneinander stehen
.stadtkombi {
	display: flex;
	
	div:nth-of-type(1){
		flex-basis: 33%;
	}
	
	div:nth-of-type(2){
		flex-basis: 66%;
		margin-left: .3rem;
	}
}

// Abfrage, ob schon mal Prüfung gemacht wurde
.pruefung_wiederholung {
	display: flex;
	margin: $Abstand 0 0 0;
	
	div:nth-of-type(1){
		flex-basis: 33%;
	}
	
	div:nth-of-type(2){
		flex-basis: 33%;
		margin-left: .3rem;
	}
	
	div:nth-of-type(3){
		flex-basis: 33%;
		margin-left: .3rem;
	}
}

.studienrichtung_wiederholung {
	margin: $Abstand 0;
}

// dieser Teil erst sichtbar, wenn angegeben wurde, dass man sich schon mal beworben hat
#jaSchonMalBeworben {
	// display: none;
}

.bewerbungsmappe {
	border-bottom: none;
	
	input {
		float:left;
		width: .8rem;
		position: relative;
		top: .3rem;
	}
	
	label {
		float: left;
		width: 90%;
	}
}

button {
	padding: .4rem;
	background-color: rgba(0,0,0,.6);
	color: #fff;
	border: none;
	font-size: 100%;
	cursor: pointer;
	transition: all .3s;
	
	&:hover {
		background-color: rgba(0,0,0,.8);
	}
	
	&#weiter {
		width: 100%;
	}
}

/* Kontroll-Seite
-------------------------------------------------- */

.formularResultat {
	margin: $Abstand 0;
	padding: 1rem 0;
	background-color: rgba(0,0,0,.05);
	padding-left: .4rem;
	padding-right: .4rem;
	
	h3 {
		font-weight: normal;
	}
	
	p:nth-of-type(1),
	p:nth-of-type(2){
		margin-bottom: $Abstand;
	}
}

.zweibuttons {
	display: flex;
	justify-content:space-between;
	
	button {
		flex-basis: 49.6%;
		
	}
}

/* Danke-Seite
-------------------------------------------------- */

.formularResultat.danke {
	padding: 0;
	background-color: #fff;
}